
<header class="header-nav">
  <bg-navbar logo="/assets/img/bg-logo.svg" home="/">
    <h1 slot="title">B. Gailītis</h1>
    <button slot="trigger" class="hamburger">Menu</button>
    <nav slot="menu">
      <bg-navbar-menu>
        <a href="/">Work</a>
        <a href="/en/about.html">About</a>
        <a href="/en/contact.html">Contact</a>
      </bg-navbar-menu>
      <br>
      <button onclick="event.preventDefault(); window.sessionStorage.setItem('language', 'lv');window.location.reload();">LV</button>
      <button onclick="event.preventDefault(); window.sessionStorage.setItem('language', 'en');window.location.reload();">EN</button>
    </nav>
  </bg-navbar>
</header>