@import url("variables.css");

html {
  font: var(--font-base);
  color: var(--color-fg);
}

* {
  box-sizing: border-box;
}

*:not(:defined) {
  display:none;
}

body {
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

