:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --font-size-small: 12px;

  --font-base: normal var(--font-weight-regular) 1rem / 1 "Poppins", sans-serif;
  
  --color-fg-rgb: 26, 26, 31;
  --color-fg: rgb(var(--color-fg-rgb));

  --color-bg-rgb: 255, 255, 255;
  --color-bg: rgb(var(--color-bg-rgb));

  --color-bg-muted-rgb: 246, 246, 250;
  --color-bg-muted: rgb(var(--color-bg-muted-rgb));

  --color-primary-rgb: 139, 51, 255;
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-highlight-rgb: 159, 51, 255; 
  --color-primary-highlight: rgb(var(--color-primary-highlight-rgb));
  --color-primary-invert-rgb: 255, 255, 255; 
  --color-primary-invert: rgb(var(--color-primary-invert-rgb));

  --color-secondary-rgb: 214, 76, 121;
  --color-secondary: rgb(var(--color-secondary-rgb));

  --color-tertiary-rgb: 90, 166, 219;
  --color-tertiary: rgb(var(--color-tertiary-rgb));
  
  --color-grey-rgb: 64, 63, 66;
  --color-grey: rgb(var(--color-muted-rgb));
  
  --color-error-rgb: 229, 17, 63;
  --color-error: rgb(var(--color-error-rgb));

  --input-border-color: rgba(var(--color-fg-rgb), 0.5);

  --gap-1: 0.1rem;
  --gap-2: 0.5rem;
  --gap-3: 1rem;

  --nav-height: 100px;
}